.indexContainer{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: $smallIndent/2;
  padding-bottom: 0;
  position: relative;
}
.indexPopUp{
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#373e42,.5);
  top: 0;
  left: 0;
}
.popUpContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 2.5rem $smallIndent;
  font-size: 2.5rem;
  color: #373e42;
}
.closePopUp{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}
@media screen and (min-width: 480px) {
  .indexContainer{
    padding: $smallIndent;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .indexContainer{
    padding: 1.5625rem 5%;
    padding-bottom: 0;
  }
}

.autorization{
  text-align: center;
  margin-bottom: 0;
  height: 2.86rem;
  &__button{
    width: 10.72rem;
    line-height: 2;
    background: transparent;
    border: 1px solid $lightBorder;
    color: $textOnDark;
    cursor: pointer;
    outline: none;
    padding: .36rem;
    &:hover{
      background-color: #083c96;
      border-color: #083c96;
    }
    &:focus{
      border-color: #083c96;
    }
    &:active{
      border-color: rgba($lightBorder, .5);
    }
  }
}
@media screen and (min-width: 480px) {
  .autorization{
    text-align: right;
    height: 2.8125rem;
    margin-bottom: 2rem;
    &__button{
      width: 11.25rem;
      line-height: 1.4375;
      padding: .625rem;
    }
  }
}
.copyright{
  text-align: center;
  &_span{
    font-family: r_light;
  }
}
.index__copyright .copyright_span{
  color: rgba($textOnDark, .14);
}
@media screen and (min-width: 480px) {
  .index__copyright .copyright{
    margin: 2.5rem 0;
    &_span{
      color: $textOnDark;
    }
  }
}
@import "cssParts/indexFormsCommon";