footer.footer
  .row.footer__Container
    .footer__info.footer__description 
      .footer__maxWidth.footer__maxWidth_description Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
    hr.footer__info_underline
    .footer__info.footer__linkContainer
      .footer__maxWidth.footer__maxWidth_links
        .footer__links
          a.footer__links_link(href='/projects.html') Мои работы 
          a.footer__links_link(href='/about.html') Обо мне 
          a.footer__links_link(href='/blog.html') Блог 
          a.footer__links_link(href='/index.html') Авторизация 
        .footer__socials
          include _socials
    hr.footer__info_underline.footer__info_underline_second
    .footer__info.footer__contacts
      .footer__maxWidth.footer__maxWidth_contacts
        p skype: hemi20114
        p oocheretnjuk@ukr.net
        p +380630495878
        p Украина, г.Житомир
  .row.footer__copyright
    include _copyright