footer.footer
  .row.footer__Container
    .footer__info.footer__description 
      .footer__maxWidth.footer__maxWidth_description Цей сайт було створено в рамках навчання в Школі онлайн освіти LoftSchool
    hr.footer__info_underline
    .footer__info.footer__linkContainer
      .footer__maxWidth.footer__maxWidth_links
        .footer__links
          a.footer__links_link(href='/projects.html') Мої роботи 
          a.footer__links_link(href='/about.html') Про мене 
          a.footer__links_link(href='/blog.html') Блог 
          a.footer__links_link(href='/index.html') Авторизація 
        .footer__socials
          include _socials
    hr.footer__info_underline.footer__info_underline_second
    .footer__info.footer__contacts
      .footer__maxWidth.footer__maxWidth_contacts
        p skype: kolia_kroshko
        p kolia_kroshko@ukr.net
        p +380938584005
        p Україна, м.Житомир
  .row.footer__copyright
    include _copyright