.humMenuContainer.row
  .closeMenuHolder
    button.closeMenuButton(type+'button')
  .humMenuLeftBG.humMenuBG
  .humMenuRightBG.humMenuBG
  .humMenuListContainer
    ul.humMenu__list
      li.humMenu__item
        a.humMenu__link(href='/projects.html')
          h4 Мої роботи 
      li.humMenu__item
        a.humMenu__link(href='/about.html')
          h4 Про мене 
      li.humMenu__item
        a.humMenu__link(href='/blog.html')
          h4 Блог 
      li.humMenu__item
        a.humMenu__link(href='/index.html') 
          h4 Авторизація 
