.socials
  a.socials__link(href="https://vk.com/id18103233" target="_blank")
    include ../../icons/vk.svg
  a.socials__link(href="https://github.com/xamjo" target="_blank")
    include ../../icons/github.svg
  a.socials__link(href="https://www.linkedin.com/in/nikolay-kroshko-472223128?trk=nav_responsive_tab_profile_pic" target="_blank")
    include ../../icons/in.svg
