$textOnDark: #fff;
$lightBorder: #fff;
$blue: #004cd1;
$blueHover: #043ea3;
$smallIndent: 20px;
$indexTextInputsSize: 45px;
$indexButtomsHeight: 45px;
$indexInputsTextColor: #373e42;
$tooltipColor: #e44845;
$footerMiddleHeight: 234px;
$footerWideHeight: 200px;