extends ../_template

block vars
  - var title = 'About'

block content
  section.about.row
    .threeangle.threeangle_left
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,0 200,100 0,100" fill="#f3f0e9") 
    .threeangle.threeangle_right
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,100 200,0 200,100" fill="#f3f0e9")
    .about__info.cols
      .about__title.about__column
        include ../../icons/stars2.svg
        h3.about__title_text Обо мне
      .about__column  
        .about__photo
          img.about__photo_image(src="assets/img/photoshop/devPhoto.jpg" alt="Big photo")
        .about__textHolder
          h5.about__subtitle Кто я
          hr
          p.about__text Я веб разработчик из Житомира. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p.about__text Этот сайт я делала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__skills.cols
      .about__skills_container
        .about__textHolder.skills__textHolder
          h5.about__subtitle Чем я могу быть вам полезна
          hr
          p.about__text.skills__text Больше всего меня привлекает Frontend разработка, но я также знакома и могу решать не сложные задачки на Backend. Но давайте попорядку.
        .skills
          section.skills__section.skills__frontend
            h5.skills__sectionTitle Frontend
            .skills__set.row
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle HTML5
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle CSS3
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle JavaScript & jQuery
          section.skills__section.skills__backend
            h5.skills__sectionTitle Backend
            .skills__set.row
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle PHP
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle mySQL
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle Node.js & npm
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle Mongo.db
          section.skills__section.skills__workflow
            h5.skills__sectionTitle WorkFlow
            .skills__set.row
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle Git
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle Gulp
              .skills__item
                img.skills__item_cyrcle(src="assets/img/photoshop/skill.png" alt="level")
                .skills__item_skillTitle Bower
  .mapContainer
    .contacts
      .contacts__container
        h5.contacts__title.about__subtitle контакты
        hr
        .contacts__holder.row
          .contacts__holder_left.contacts__holder_column
            .contacts__holder_contact
              include ../../icons/skype_n.svg
              span.contacts_details hemi20114
            .contacts__holder_contact
              include ../../icons/envelope_n.svg
              span.contacts_details oocheretnjuk@gmail.com
          .contacts__holder_right.contacts__holder_column
            .contacts__holder_contact
              include ../../icons/phone_n.svg
              span.contacts_details +380630495878
            .contacts__holder_contact
              include ../../icons/map_n.svg
              span.contacts_details Украина, г.Житомир
    #map