extends ../_template

block vars
  - var title = 'Blog'

block content

  section.blog.row
    .threeangle.threeangle_left
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,0 200,100 0,100" fill="#fbf8f1") 
    .threeangle.threeangle_right
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,100 200,0 200,100" fill="#fbf8f1")
    input#showNav.showNav__Checkbox(type='checkbox')
    nav.nav
      .nav__container
        ul.nav__list
          li.nav__list_item
            a.nav__list_link(href="#article1") Самое важное в SASS
          li.nav__list_item
            a.nav__list_link(href="#article2") Приёмы в вёрстке, без которых не обходится ни один сайт
          li.nav__list_item
            a.nav__list_link(href="#article3") Самый необходимый набор Gulp плагинов
          li.nav__list_item
            a.nav__list_link(href="#article4") Почему я выбрала Pug
        label.showNav__switcher(for="showNav")
    main.blog__container
      article.blog__article(data-article="article1")
        h5.blog__article_title Самое важное в SASS
        time.blog__article_createTime 28.10.2016
        .blog__article_text 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке напрвлений прогрессивного развития.  Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соотвествует насущным потребностям.
      article.blog__article(data-article="article2")
        h5.blog__article_title Приёмы в вёрстке, без которых не обходится  ни один сайт
        time.blog__article_createTime 28.10.2016
        .blog__article_text 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке напрвлений прогрессивного развития.  Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соотвествует насущным потребностям.
      article.blog__article(data-article="article3")
        h5.blog__article_title Самый необходимый набор Gulp плагинов
        time.blog__article_createTime 28.10.2016
        .blog__article_text 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке напрвлений прогрессивного развития.  Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соотвествует насущным потребностям.
      article.blog__article(data-article="article4")
        h5.blog__article_title Почему я обрала Pug
        time.blog__article_createTime 01.10.2016
        .blog__article_text 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке напрвлений прогрессивного развития.  Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соотвествует насущным потребностям.