extends ../_template
block vars
  - var title = 'My Works'
block content
  .row.titleContainer.myWorksContainer
    .threeangle.threeangle_left
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,0 200,100 0,100" fill="#f3f0e9") 
    .threeangle.threeangle_right
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 200 100" preserveAspectRatio="none")
        polygon(points="0,100 200,0 200,100" fill="#f3f0e9")
    h3.title.title__slider Мої роботи
  .slider
    .slider__current
      ul.slider__list
        li.slider__item.slider__item_current
          img.slider__image(src="assets/img/work-1.png" alt="work 1")
        li.slider__item.slider__item_current
          img.slider__image(src="assets/img/work-2.png" alt="work 2")
        li.slider__item.slider__item_current
          img.slider__image(src="assets/img/work-3.png" alt="work 3")
        li.slider__item.slider__item_current
          img.slider__image(src="assets/img/work-4.png" alt="work 4")
    .slider__description
      ul.slider__list
        li.slider__item.slider__item_description
          .slider__item_container        
            h5.slider__description_name сайт школи онлайн освіти
            hr.slider__description_separator
            .slider__description_technologies html, css, javascript
            a.slider__description_link(href="#") 
              include ../../icons/link.svg
              span Переглянути сайт
        li.slider__item.slider__item_description
          .slider__item_container        
            h5.slider__description_name демо сайт №2
            hr.slider__description_separator
            .slider__description_technologies html, css, javascript, pug
            a.slider__description_link(href="#") 
              include ../../icons/link.svg
              span Переглянути сайт
        li.slider__item.slider__item_description
          .slider__item_container        
            h5.slider__description_name демо сайт №3
            hr.slider__description_separator
            .slider__description_technologies html, css, javascript, sass
            a.slider__description_link(href="#") 
              include ../../icons/link.svg
              span Переглянути сайт
        li.slider__item.slider__item_description
          .slider__item_container        
            h5.slider__description_name демо сайт №4
            hr.slider__description_separator
            .slider__description_technologies html, css, javascript, nodejs
            a.slider__description_link(href="#") 
              include ../../icons/link.svg
              span Переглянути сайт
    .slider__siblings.row
      .slider__img.slider__img_down
        ul.slider__list
          li.slider__item.slider__item_down
            img.slider__image(src="assets/img/work-1.png" alt="work 1")
          li.slider__item.slider__item_down
            img.slider__image(src="assets/img/work-2.png" alt="work 2")
          li.slider__item.slider__item_down
            img.slider__image(src="assets/img/work-3.png" alt="work 3")
          li.slider__item.slider__item_down
            img.slider__image(src="assets/img/work-4.png" alt="work 4")
        include ../../icons/portf_arrow_down.svg
      .slider__img.slider__img_up
        ul.slider__list
          li.slider__item.slider__item_up
            img.slider__image(src="assets/img/work-1.png" alt="work 1")
          li.slider__item.slider__item_up
            img.slider__image(src="assets/img/work-2.png" alt="work 2")
          li.slider__item.slider__item_up
            img.slider__image(src="assets/img/work-3.png" alt="work 3")
          li.slider__item.slider__item_up
            img.slider__image(src="assets/img/work-4.png" alt="work 4")
        include ../../icons/portf_arrow_up.svg
  .aboutTalkes  
    .row.titleContainer.talkesContainer
      h3.title.title__about Що про мене говорять
    .row.talkes
      .talkes__talk
        .talkes__talk_image.talkes__talk_image_koval
        .talkes__talk_words Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .talkes__talk_author.
          <span>Ковальчук Дмитрий</span> — основатель Loftschool
      .talkes__talk
        .talkes__talk_image.talkes__talk_image_zar
        .talkes__talk_words Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        .talkes__talk_author.
          <span>Зар Захаров</span> — преподаватель
    .callback.form_contains
      form.callback__form#mail(action="/saveMail")
        .callback__form_container
          h5.callback__form_title Зв'язатись зі мною
          hr.callback__form_hr
          input.callback__form_input.callback__form_login(type="text" name="name" placeholder="Ваше ім'я")
          input.callback__form_input.callback__form_email(type="email" name="mail" placeholder="Ваш email")
          textarea.callback__form_input.callback__form_textArea(placeholder="Ваше повідомлення" name="message")
        .callback__form_buttons.row
          button.cols.col-6.callback__form_button.callback__form_submit.submitForm(type="button") Відправити
          button.cols.col-6.callback__form_button.callback__form_clear(type="reset") Очистити
    .toTop
      button.toTop__button(type="button")
        include ../../icons/arrow_down.svg