&_checkboxLabel{
  margin-bottom: .625em;
  display: inline-block;
}
&_checkbox:checked ~ &_checkIcon{
  border-color: #0548be;
  background-color: #0548be;
  & svg{
    display: block;
  }
}
&_checkIcon{
  display: inline-block;
  width: $smallIndent;
  height: $smallIndent;
  border-radius: 2px;
  background-color: $lightBorder;
  margin-right: $smallIndent/2;
  opacity: .8;
  position: relative;
  & svg{
    width: 12px;
    height: 9px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
  }
}