&_radioLabel:not(:last-of-type){
  margin-right: 2*$smallIndent;
}
&_radio:checked ~ &_radioIcon{
  background-color: #0548be;
}
&_radioIcon{
  display: inline-block;
  width: $smallIndent;
  height: $smallIndent;
  border-radius: 50%;
  border: 6px solid $lightBorder;
  background-color: $lightBorder;
  margin-right: $smallIndent/2;
  opacity: .8;
}