&_formTitle{
  margin-bottom: 2.125rem;
}
@media screen and (min-width: 480px) {
  &_formTitle{
    margin-bottom: 2rem;
  }
}

&_form{
  padding: 0 $smallIndent;
  &_formItem{
    position: relative;
    margin-bottom: $smallIndent;
  }
  &_checkbox,&_radio{
    display: none;
  }
  @import "indexFormInput";
  @import "indexFormCheckbox";
  @import "indexFormRadio";

  &_text{
    opacity: 0.8;
    font: 1.14rem/1.5 r_medium;
    vertical-align: top;
  }
  &_question{
    display: inline-block;
    opacity: 0.8;
    font: 1.14rem/1.5 r_bold;
    width: 100%;
    margin-bottom: .5rem;
  }
  @media screen and (min-width: 480px) {
    &_text{
      font-size: 1rem;
    }
    &_question{
      font-size: 1rem;
    }
  }
}
